<!-- Loop over each object in the inventory item array -->
<h1>All Inventory Items:</h1>
<div class="d-flex flex-wrap">
{{#each inventoryItems as |inventoryItem|}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{inventoryItem.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Price: ${{inventoryItem.price}} /unit</h6>
            <h6 class="card-subtitle mb-2 text-muted">Stock: {{inventoryItem.stock}} units</h6>
            <h6 class="card-subtitle mb-2 text-muted">------------------------</h6>
            <h6 class="card-subtitle mb-2 text-muted">Location: {{warehouse.location}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Warehouse Name: </h6>
            <h6 class="card-subtitle mb-2 text-muted">{{warehouse.name}}</h6>
            <a href="/api/warehouses/{{inventoryItem.warehouse_id}}" class="card-link">View {{warehouse.location}} Warehouse</a>
            <div>
                <!-- Button trigger Edit Warehouse Modal -->
                <a href="/api/inventoryItems/{{id}}"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editInventoryItemModal">Edit Item</button></a>
            </div>
        </div>
    </div>
{{/each}}
</div>