<h3>
  {{warehouse.location}}
  <small class="text-muted">{{warehouse.name}}</small>
</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Number of Units</th>
    </tr>
  </thead>
  <tbody>
    {{#if inventoryItems.length}}
      {{#each inventoryItems as |inventoryItem|}}
        <tr>
          <th scope="row">{{inventoryItem.id}}</th>
          <td>{{inventoryItem.name}}</td>
          <td>{{inventoryItem.price}}</td>
          <td>{{inventoryItem.stock}}</td>
        </tr>
    {{/if}}
  </tbody>
</table>

<h3>Create a New Warehouse Inventory Item:</h3>
<form class="form new-inventoryItem-form">
  <div class="mb-3">
    <label for="inventoryItem-location">Inventory Item Name:</label>
    <input
        type="text"
        class="form-control"
        id="inventoryItem-name"
        name="inventoryItem-name"
    />
  </div>
  <div class="mb-3">
    <label for="inventoryItem-price">Inventory Item Price:</label>
    <input
        type="text"
        class="form-control"
        id="inventoryItem-price"
        name='inventoryItem-price'
    />
  </div>
  <div class="mb-3">
    <label for="warehouse-stock">Inventory Item Price:</label>
    <input
        type="text"
        class="form-control"
        id="inventoryItem-stock"
        name='inventoryItem-stock'
    />
  </div>
  <div class="mb-3 form-check">
      <button type="submit" class="btn btn-primary">+ Create Inventory Item</button>
  </div>
</form>